# Dependencies
node_modules/

# Build output
dist/
build/
.output/
.vinxi/

# Environment
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.turbo/

# Testing
coverage/

.ruff_cache

# Folder for local test workspaces
local

# Folder for the "server" dir for testing
data/*
!data/.gitkeep
